<%- include('./parties/tete.ejs') %>
<main class="text-center">
    <h1 class="mt-2">Bienvenue sur la page d'accueil</h1>
    <div id="divBouton" class="mt-3 d-flex flex-column justify-content-center w-25 ms-auto me-auto"> 
        <a class="mb-2" href="http://localhost:1234/liste">Visualiser la liste</a>
        <a href="http://localhost:1234/ajout">Ajoutez une personne </a>
    </div>

</main>

<%- include('./parties/pied.ejs') %>