<%- include('./parties/tete.ejs',{ connexion:connexion}) %>
<main>
    <h1 class="mt-2 mb-2 text-center">Bienvenue sur la page pour ajouter un participant</h1>
        <form>
            <div id="divPrenom">
                <label for="inputPrenom">Prénom :</label>
                <input id="inputPrenom" type="text">
            </div>
            <div id="divNom">
                <label for="inputNom">Nom :</label>
                <input id="inputNom" type="text">
            </div>
            <div id="divDossard">
                <label for="inputDossard">Dossard n° :</label>
                <input id="inputDossard" type="number">
            </div>	
            <div id="disSAS">
                <label for="selectSAS">SAS :</label>
                <select id="selectSAS" required>
                <option disabled selected>Sélectionner un SAS</option>
                    <option value="3h00">3 h 00</option>
                    <option value="5h00">5 h 00</option>
                    <option value="6h00">6 h 00</option>
                </select>
            </div>
            <button class="bouton mt-2" type="submit">Enregistrer</button>
        </form>
</main>
<script src="/public/js/ajout.js"></script>
<%- include('./parties/pied.ejs') %>
