<%- include('./parties/tete.ejs') %>
<main class="text-center">
    <h1 class="mt-2 ms-sm-2 me-sm-2"> <%= h1  %></h1>
    <form>
        <div class="mb-3">
            <label for="codeAcces" class="form-label">Code d'accès :</label>
            <input type="text" class="form-control w-25 w-sm-50 ms-auto me-auto " id="codeAcces" placeholder="Saisir le code communiqué !" required />
        </div>
        <button type="submit" class="bouton">Accéder</button>
    </form>
</main>
<script src="/public/js/<%= script  %>.js"></script>
<%- include('./parties/pied.ejs') %>