<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/generale.css" />
        <% if (css != "") { %>
            <link rel="stylesheet" href="/public/css/<%= css  %>.css" />
        <% } %>
        <!-- Permet la mise en page de la tete et du pied -->
        <link id="favicon" rel="icon" type="image/x-icon" href="/public/img/favicon-dark.ico" />
        <title><%= titre %> - Dossards RVA</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a class='logo' href="https://eloi2.alwaysdata.net/">PépitoCoin</a>
                    <% if(connexion == process.env.CHAINE_COOKIE) {%>
                        <div class="navLinks">
                            <ul>
                                <li><a href="#">Accueil</a></li>
                                <li><a href="#">Liste</a></li>
                                <li><a href="#">Ajout</a></li>
                            </ul>
                        </div>
                    <% } %>
                <img id="imageHamburger" class="menuHamburger" src="/public/img/Menu_Hamburger_Blanc.png" alt="Menu Hamburger" oncontextmenu="return false;">
            </nav>
        </header>
