#divBouton a {
    text-decoration: none;
    color: white;
    background-color: #0048ff;
    border: 1px solid #0048ff;
    padding: 5px;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
}
#divBouton a:hover {
    color: #0048ff;
    background-color: white;
}
@media screen and (max-width: 850px) {
    #divBouton a {
        width: 40%;
    }
}
