*,
::before,
::after {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #0048ff;
}
.bouton {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #0048ff;
    border: 1px solid #0048ff;
    border-radius: 10px;
    padding: 7px;
}
.bouton:hover {
    color: #0048ff;
    background-color: white;
}
/* Gestion navbar */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 30px;
}
.navbar .logo {
    font-size: 1.2em;
    font-weight: bold;
}
.navLinks.mobile-menu {
    margin-left: 0;
}
.navbar a {
    color: white;
}
.navbar .navLinks ul {
    display: flex;
}
.navbar .navLinks ul li {
    margin: 0 20px;
}
.navbar .menuHamburger {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
}
@media screen and (max-width: 850px) {
    .navbar {
        padding: 15px;
    }
    .navbar .menuHamburger {
        display: block;
    }
    .navbar .logo {
        color: white;
    }
    .navLinks {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0048ff;
        height: 100vh;
        width: 100vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .navLinks ul {
        display: flex;
        flex-direction: column;
    }
    .navbar .navLinks ul li {
        margin: 20px 0;
    }
    .navbar .navLinks ul li {
        margin: 20px 0;
        font-size: 1.2em;
    }
}
