.gras {
    font-weight: bold;
}
.coureur {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}
#boutonMasquerTrieSAS,
#supprimerFiltre {
    background-color: red;
    border-color: red;
}
#boutonMasquerTrieSAS:hover,
#supprimerFiltre:hover {
    color: red;
    background-color: white;
}
@media screen and (max-width: 850px) {
    .coureur {
        width: 50%;
    }
}
